[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/jenswi-linaro/arm-trusted-firmware.git
[submodule "optee_os"]
	path = optee_os
	url = https://github.com/jforissier/optee_os
[submodule "optee_client"]
	path = optee_client
	url = https://github.com/OP-TEE/optee_client.git
[submodule "optee_linuxdriver"]
	path = optee_linuxdriver
	url = https://github.com/OP-TEE/optee_linuxdriver.git
[submodule "gen_rootfs"]
	path = gen_rootfs
	url = https://github.com/jbech-linaro/gen_rootfs.git
