[submodule "arm-trusted-firmware"]
	path = arm-trusted-firmware
	url = https://github.com/jenswi-linaro/arm-trusted-firmware.git
[submodule "optee_os"]
	path = optee_os
	url = https://github.com/jforissier/optee_os.git
[submodule "optee_client"]
	path = optee_client
	url = https://github.com/jforissier/optee_client.git
[submodule "gen_rootfs"]
	path = gen_rootfs
	url = https://github.com/jforissier/gen_rootfs.git
[submodule "linux"]
	path = linux
	url = https://github.com/jforissier/linux
